html, body { height: 100%; }

body {
    background-color: #450273;
}
#logo {
    width: 196px;
}
#back {
    top: 0;
    left: 0;
}
#info span.urls {
    white-space: nowrap;
}
#welcome, form {
    max-width: 500px;
}
#start div.box, #target div.box {
    width: 80%;
    overflow: hidden;
}
#check div p:last-child {
    word-break: break-all;
}
#wikipedia {
    left: 0;
    overflow-x: scroll;
}
#minerva {
    max-width: 1000px;
}
#adsense {
    max-height: 20%;
}
#welcome, #back, #info, #name, #start, #target, #check, #wikipedia, #bug, #adsense {
    display: none;
}

.mw-editsection {
    display: none !important;
}

.loader {
    width: 50px;
    height: 50px;
    border: 3px solid #f8f9fa;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: loader-animation 575ms infinite linear;
    -o-animation: loader-animation 575ms infinite linear;
    -ms-animation: loader-animation 575ms infinite linear;
    -webkit-animation: loader-animation 575ms infinite linear;
    -moz-animation: loader-animation 575ms infinite linear;
}

@keyframes loader-animation {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes loader-animation {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes loader-animation {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes loader-animation {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes loader-animation {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

.researching span {
    width: 20px;
    height: 20px;
}

.fadeOutBox {
    position: relative;
    width: 65%;
    max-width: 600px;
    overflow: hidden;
}
.fadeOutBox:before { 
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    margin: 0;
    /* REFERENCE: http://www.colorzilla.com/gradient-editor/ */
    background: none;
    background:    -moz-linear-gradient(left, rgba(248,249,250,1) 0%, rgba(255,255,255,0) 100%);
    background:        -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(248,249,250,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(248,249,250,1) 0%,rgba(255,255,255,0) 100%);
    background:      -o-linear-gradient(left, rgba(248,249,250,1) 0%,rgba(255,255,255,0) 100%);
    background:     -ms-linear-gradient(left, rgba(248,249,250,1) 0%,rgba(255,255,255,0) 100%);
    background:         linear-gradient(to right, rgba(248,249,250,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fa', endColorstr='#00ffffff',GradientType=1 );
    /* background-image: linear-gradient(to right, #f8f9fa, 40%, transparent); */
}

.btn-bug {
    height: 30px;
    width: 30px;
    transform: rotate(40deg);
}

.title-bug {
    width: 16px;
}